:root{
    --accentColor:rgb(0, 185, 173);
    /* accent color for fonts and outlines throughout. */
}
*{

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html, body{
    padding: 0px ;
    border:0px ; 
    margin:0px;
    width:100%;
    height:100%;
    scroll-padding-top: 16vh;
   }
/* custom scrollbar changes */
/* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--accentColor);
  }

.container{
    width: 100%;
    height: 100%;
    position:relative;
}

.hero{
    position:fixed;
    background-image: url(./images/portfolio-pic.jpg);
    height:100%;
    width: 40%;
    box-shadow: inset 0 0 100px black;
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    display: flex;
    flex-flow: row nowrap;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.368);
    border-radius: 50px;
    justify-content: space-between;
    margin-right: 5%;
    margin-left: 5%;
    padding:10px;
    background-color: white;
    position: fixed;
    width: 80vw;
    height: 8vh;
    top:40px;
    right:0;
    left:0;
    z-index: 10;
    padding-right:5px;
}

.header-child{
    display: flex;
    width: 360px;
    justify-content: center;
    justify-self: center;
}
nav{
    margin-right: 5%;
    size: auto;
    display: flex;
}

li{
    text-decoration: underline;
    font-weight:400;
}
a{
    color:inherit; /* stop stupid blue anchor tags */
}


.contact{
    border: 1px solid var(--accentColor);
    padding: 20px;
    border-radius: 50px;

}

li:hover{
    color: var(--accentColor);
}


/* These two are logo txt spans and their containers. */
.logo-txt{
    align-items: center;
    margin-left: 5%;
    flex-direction: column;
    width:fit-content;
    display: flex;
}

.logo-ink{
    padding: 0;
    font-size: x-large;
    font-weight: 900;
}

.navbar{
    list-style-type: none;
    display: flex;
    gap: 10%;
    margin: 0;
    margin-right:3%;
    align-items: center;
    padding-left: 0;
    position: absolute;
    size:auto;
    align-self: center;
}

/* Holds all content to the right of fixed hero */
.parent{
    display: flex;
    height: auto;
    width: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 8%;
    margin-left: 40%;
    padding:5%;
    padding-top: 0%;
    background-color: whitesmoke;
    border-right: 1px solid var(--accentColor);
    border-left: 1px solid var(--accentColor);
}

.content-header{
    font-size: 70px;
    margin-top: 30%;
    margin-bottom:5px;
}

.accent{
    margin-top: 5px;
    margin-bottom: 5%;
    font-size: smaller;
    font-weight: bold;
    color: var(--accentColor);
}

/* For main content below headers */
.content-wrap{
    width: 80%;
    color: rgb(80, 80, 80);
    line-height: 30px;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-button{
    margin-top: 10%;
    padding: 3%;
    border: 1px solid var(--accentColor);
    border-radius: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    color: black;
    font-weight: bold;
    background-color: white;
}
#contact-button:hover{

    color: var(--accentColor);

}

/* scrolling card container for projects */
#card-container{
    height: 300px;
    width: 300px;
    background-color: white;
    border-radius: 50px;
    margin-top: 5%;
    overflow-y: scroll;
}

.project-card{
    width: 90%;
    height: 300px;
    background-color: gray;
    border-radius: 50px;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

#project-1{
    background-image: url(./images/project-screenshot-1.png);
    background-size: contain;
}
.project-card a{ /* make the text in project cards invisible until hover */
    color: transparent;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}
.project-card a:hover{
    color:var(--accentColor);
    text-shadow: 0 0 3px var(--accentColor);
    box-shadow: inset 0 0 20px black;
    backdrop-filter: brightness(40%);
}/* hover effects for project card display */

#contact-top{
    margin-top:10%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.footer{
    width: 100%;
    height: 8vh;
    background: white;
    margin-top: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--accentColor);
    border-radius: 50px;
    color:rgb(80, 80, 80);
    font-size: x-small;
}


/* responsiveness media queries for phone and tablet */
@media screen and (max-width: 935px)
{
    .hero{
        position:static;
        display: block;
        width:84%;
        height: 650px;
        margin-left:8%;
        background-position-y: 50px;
    }
    .parent{
        margin-left: 8%;
    }
    header{
        border-radius: 0;
        width: 100%;
        margin: 0;
        top:0px;
    }
    .navbar{
        gap:3%;
    }
}

@media screen and (max-width: 500px){
    .navbar{
        gap:1%;
    }
}